*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    background-color: #fcfcfc;
}

h1{
    text-align: center;
    font-size: 3.5rem;
}

header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    margin: auto auto;
}

input{
    height: 3rem;
    font-size: 1rem;
    width: 70%;
    padding-left: 5%;
}

button.add{
width: 30%;
cursor: pointer;
height: 3rem;
background-color: #07a707;
color: #ffffff;
font-weight: bold;
border: none;
border-bottom-right-radius: 7%;
border-top-right-radius: 7%;
}

main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    margin-top: 15px;
    padding-top: 40px;
}

.item{
    display: flex;
    margin-bottom: 2%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 80%;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
}

.item-icon{
    flex: 20%;
    font-size: 2rem;
    text-align: center;
}
.item-name{
    flex: 55%;
    font-size: 150%;
    font-weight: bold;
}
.item-buttom{
    flex: 25%;
    cursor: pointer;
}

.delete{
    background: red;
    color: white;
    border: none;
    padding: 10%;
    height: 50%;
    width: 100%;
}

.item-checked{
    background-color: #61de61;
    color: #ffffff;
    text-decoration: line-through;
    display: flex;
    margin-bottom: 2%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
}